<div class="d7 wow rubberBand" data-wow-delay="2s" data-wow-offset="20"><h1 class="choosebmw">Додай своє фото</h1></div>
<%= link_to "Створити категорію", new_post_path, :style=> 'color:#FFFFFF;', class: "btn btn-default"%></p>
<div class="cars">
<% @posts.each do |post| %>
<div class="carelem">
<center><h3><%= link_to post.title, post_path(post.id), :style=> 'color:#FFFFFF;' %></h3></center>
<%= image_tag post.user.avatar.url(:thumb), width: 30, height:30 %>
<p style="color:#ffffff">Author: <%= post.user.nickname%> |
Create at: <%= post.created_at%>

</div>
<% end %>


